<h4>Billet Details</h4>
<div id="billetdetails">
    <input type="text" name="id_billet" placeholder="ID Billet">
    <input type="text" name="id_train" placeholder="ID Train">
    <input type="text" name="prix" placeholder="Prix">
    <input type="text" name="g_depart" placeholder="Gare de Départ">
    <input type="text" name="g_arrivee"placeholder="Gare d'arrivée">
    <input id="datePicker-manager-2" placeholder="Date de départ">
    <input type="text" name='h_depart' placeholder="Huere de départ format 00:00:00">
<button onclick="filledBilletForm()">Submit</button>
</div>